.itemcontainer {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #abaab0;
  box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
}

.itemimage {
  height: 100px;
  border: 1px solid #abaab0;
  width: 100px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  height: auto;
  width: 100%;
  border-radius: 20px;
  object-fit: contain;
}
.itemname {
  margin-left: 50px;
}
.name {
  font-size: larger;
  font-weight: bold;
}
.amount {
  font-weight: bold;
  margin-top: 10px;
}
